# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Data
# =========================
data/pdfs/
data/tei/

# =========================
# Outputs
# =========================
outputs/
results/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Environment variables
# =========================
.env